*{
    margin: 0;
    padding: 0;}
body{line-height: 1.8em;
font-family:Verdana, Geneva, Tahoma, sans-serif;}

#skipnav a{
    position: absolute;
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    width:1px;
    white-space:nowrap;
  }
  #skipnav a:focus {
    clip:auto;
    left:0;
    top:0;
    width:100%;
    height:auto;
    margin:0;   
    padding:10px 0;
    background:#fff;
    border:1px solid blue;
    border-left:none;
    border-right:none;
    text-align:center;
    font-weight:bold;
    color:#000;
    z-index: 1;
  }

p{font-size:1.2rem;}
header{background-color: #BDB1FF;
display: grid;
place-items: center;
font-size: 1.2rem;}
.nav-wrapper{width: 60%;
display: flex;
justify-content: space-between;
}

.current{text-decoration: underline;}

.logo{margin: 10px 0px;}

.nav-wrap2{display: grid;
place-items:center ;}
.nav-wrap2 ul{display: flex;
justify-content: space-between;
list-style-type: none;}
li{margin-left: 1.2em;
margin-right: 1.2em;}
li a{text-decoration: none;
color: black;}
li a:hover{background-color: white;
outline:1px solid black}
li a:focus{background-color:#FFFEDC;
    outline:1px solid aqua}
main{
display: grid;
place-items: center;
background-color: #E5E5E5;}
h1{font-size: 3rem;
    line-height: 1.5em;
}
h1:focus{outline: 3px solid black;}

main img{margin-top: 20px;}

section{display: grid;
    place-items: center;
    margin: 50px 0px 0px 0px;
width: 100%;}

    h2{line-height: 2em;
    font-size: 2rem;}

#futureWAS{display:flex;
justify-content: center;
font-size: 1.2rem;

margin-bottom: 1rem;}
.pics{display: flex;
justify-content: space-between;
width: 60%;
}
.AA{display: grid;
justify-items: center;}

.AA div{margin: 20px 0px 50px 0px;
    font-size:1rem;}
main p{width:60%;}

/* .AA img{max-width:99%;}
 */

footer{display: flex;
justify-content: center;
background-color: #C2FFDA;
text-align: center;}
footer p{margin: 50px 0px;
    width:60%;}


.nav-mobile{display: none;}
button {display: none;}

#hamburger #expanded{
    display: none;
} 


@media only screen and (max-width: 1000px){
  main p{width: 80%;}
.nav-wrapper{width: 80%;}
.pics{width:80%;}
.AA img{max-width:90%;}

footer p{
    width:80%;}}



@media only screen and (max-width: 600px){
    

    .nav-wrap2{display: none;}

    .nav-mobile{display:none;
    place-content: center;}
    .nav-mobile ul{display:grid;
        place-items: center;
        list-style: none;}
    .nav-mobile ul li a{line-height: 2.5em;
    padding: 7px;}
    .nav-mobile ul li a:hover{background-color: #E5E5E5;}
      

    .nav-mobile.show{display: block;}

    button {display: grid;
        align-self: center;
        background-color: transparent;
    border: none;
    cursor: pointer;}

    button:hover{background-color: rgb(255, 255, 255);
    outline: black 1px solid;}
    button:focus{background-color:#FFFEDC;
        outline:1px solid aqua}




    main p{width: 90%;}
    .nav-wrapper{width:90%;}

    .pics{width: 90%;}
    .pics{display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
         }

         p{font-size:1rem;}
         header{font-size: 1.2rem;}

         h1{font-size: 2rem;}
         
         h2{font-size: 1.5rem;}
        
        #futureWAS{font-size: 1rem;}
        
        section{
            margin: 30px 0px 0px 0px;}
        
        
        .AA div{margin-bottom: 20px;}
        #Obi{margin-bottom: 40px;}

        footer p{
            width:90%;}
}

@media only screen and (max-width: 400px){
    
.AA img{width: 300px;}

main p{width: 95%;}
    .nav-wrapper{width:95%;}

    .pics{width: 95%;}

    footer p{
        width:95%;}
}
